openapi: 3.0.1
info:
  title: Backend Final - CoderHouse
  description: API de productos y usuarios
  version: 1.0.0

servers:
  - url: http://localhost:8080

paths:
  /api/products:
    get:
      summary: Obtener todos los productos
      tags:
        - Products
      responses:
        "200":
          description: Lista de productos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Product"

    post:
      summary: Crear un producto
      tags:
        - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductInput"
      responses:
        "201":
          description: Producto creado

  /api/products/{id}:
    get:
      summary: Obtener producto por ID
      tags:
        - Products
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Producto encontrado
        "404":
          description: Producto no encontrado

  /api/products/mock:
    get:
      summary: Obtener productos mockeados
      tags:
        - Products
      responses:
        "200":
          description: Lista de productos fake

components:
  schemas:
    Product:
      type: object
      properties:
        _id:
          type: string
        title:
          type: string
        description:
          type: string
        price:
          type: number
        stock:
          type: number

    ProductInput:
      type: object
      required:
        - title
        - price
      properties:
        title:
          type: string
        description:
          type: string
        price:
          type: number
        stock:
          type: number
